@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins,sans-serif';
}
body {
    color:#ffffff;
    background:#0d3637;
}
header {
    position:sticky;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 7%;
    background-color:  #00abf0;
    display: flex;
    justify-content:space-between;
    align-items: center;
    z-index: 100;
}

.logo {
    position: relative;
    right: 50px;
    width: 80px;
    transition: transform 0.5s;
}

.logo:hover{
    transform: translateY(-10px);
}

.icon1 {
    position:relative;
    margin-top: 15px;
    justify-content: space-between;
    transition: transform .5s;
    }

.icon1:hover{
        transform: translateY(-10px);
        color: #00ff22;
    }

 .icon2 {
    position:relative;
    margin-top: 15px;
    justify-content: space-between;
    transition: transform .5s;
     }
    
.icon2:hover{
            transform: translateY(-10px);
        }
.icon3 {
     position:relative;
     margin-top: 15px;
     justify-content: space-between;
     transition: transform .5s;
    }
        
.icon3:hover{
     transform: translateY(-10px);
     }

.icon4 {
    position:relative;
    margin-top: 15px;
    justify-content: space-between;
    transition: transform .5s;
    }
           
.icon4:hover{
    transform: translateY(-10px);
    }
    
.navbar a{
    font-size: 18px;
    font-weight: 800;
    color: #ededed;
    text-decoration: none;
    margin-left: 35px;
    transition: transform 1s;
}
#menu-icon{
    font-size: 3.6rem;
    color: white;
    cursor: pointer;
    display: none;
    
}

.navbar a.active {
    color: #000000;
}

.navbar :hover{
    color: #5bd454;
}

.home {
    height:100vh;
    /* change*/
    background: url('/portpholio-main/background-1.jpeg') no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    padding: 0 20%;  
}

.home-content {
    max-width: 600px;

}

.home-content h1 {
    position: relative;
    font-size: 55px;
    font-weight: 700;
    right: 230px;
    line-height: 1;
}

.home-content h1::before {
    content:'';
    position: absolute;
    top:0;
    right: 20px;
    width: 100%;
    height: 100%;
    background:#00abf0;
    animation: showRight 1s ease forwards;
    animation-delay: .5s;
}

.home-content h3 {
    position: relative;
    font-size:32px;
    font-weight: 700;
    right: 230px;
    color: #00abf0;

}

.home-content h3::before {
    content:'';
    position: absolute;
    top:0;
    right: 0;
    width: 100%;
    height: 100%;
    background:#081b29;
    animation: showRight 1s ease forwards;
    animation-delay: 1.3s;
}

.home-content h4 {
    position: relative;
    right: 230px;
    line-height: 1;
}

.home-content p {
    position: relative;
    font-size: 16px;
    margin: 20px 0 40px;
    color: #5bd454;
    right: 230px;
}

.home-content p::before {
    content:'';
    position: absolute;
    top:0;
    right: 0;
    width: 100%;
    height: 100%;
    background:#081b29;
    animation: showRight 1s ease forwards;
    animation-delay: 1.6s;
}

.home-content .btn-box {
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 345px;
    height: 50px;
    right: 230px;
}

.home-content .btn-box::before {
    content:'';
    position: absolute;
    top:0;
    right: 0;
    width: 100%;
    height: 100%;
    background:#081b29;
    animation: showRight 1s ease forwards;
    animation-delay: 1.9s;
    z-index: 2;
}

.btn-box a{
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 100%;
    background: #00abf0;
    border: 2px solid #00abf0;
    border-radius: 8px;
    font-size: 19px;
    color: #081b29;
    text-decoration: none;
    font-weight: 600;
    letter-spacing: 1px;
    z-index: 1;
    overflow: hidden;
    transition: .5s;
}

.btn-box a:hover {
    color: #00abf0;
}

.btn-box a:nth-child(2) {
    background: transparent;
    color: #00abf0;
}

.btn-box a:nth-child(2):hover {
    color: #081b29;
}

.btn-box a:nth-child(2)::before {
    background: #00abf0;
}

.btn-box  a::before {
    content: '';
    position: absolute;
    top:0;
    left:0;
    width: 0%;
    height: 100%;
    background:#081b29;
    z-index: -1;
    transition: 3s;  
}

.btn-box a:hover:before {
    width: 100%;
}

.home-sci {
    position: absolute;
    bottom: 40px;
    width: 200px;
    display: flex;
    justify-content: space-between;
    left: 75px;
}

.home-sci::before {
    content:'';
    position: absolute;
    top:0;
    right: 0;
    width: 100%;
    height: 100%;
    background:#081b29;
    animation: showRight 1s ease forwards;
    animation-delay: 2.5s;
    z-index: 2;
}

.home-sci a {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height:40px;
    background: transparent;
    border: 2px solid #00abf0;
    border-radius: 50%;
    font-size: 20px;
    color: #00abf0;
    text-decoration: none;
    z-index: 1;
    overflow: hidden;
    transition: .5s;

}

.home-sci a:hover{
    color: #081b29;

}


.home-sci a::before {
    content: '';
    position: absolute;
    top:0;
    left:0;
    width: 0;
    height: 100%;
    background:#5bd454;
    z-index: -1;
    transition: .5s;
}

.home-sci a:hover::before {
    width: 100%;
} 

.home-imgHover {
    position: absolute;
    top:0;
    right:30px;
    width: 500px;
    height: 100%;
    background: transparent;
    transition: 3s;
}

.home-imgHover:hover {
    background: #081b29;
    opacity: .8;
}

.home-imgHover::after{
    content:'';
    position: absolute;
    top:0;
    right: 0;
    width: 100%;
    height: 120%;
    background:#081b29;
    animation: showRight 1s ease forwards;
    animation-delay: 3s;
    z-index: 100;
}

/* KEYRAMES ANIMATION */

@keyframes showRight {
    100% {
        width: 0;
    }
}

@keyframes manipActiveHover {
    100% {
        pointer-events: auto;
    }
}
/*--------about css--------*/
.about{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
    background: #081b29;
    padding-bottom: 6rem;
    margin-top: 40px;
}
.heading{
    font-size: 3rem;
    text-align: center;
    margin-top: 40px;
}
span{
    color: #00abf0;
}
.about-img{
    position: relative;
    width: 25rem;
    height: 25rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 60px;
}
.about-img img{
    width:60%;
    height: 75%;
    border-radius: 50%;
    border:.2rem solid #00abf0 ;
}
.about-img .circle-spin{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(0);
    width: 75%;
    height: 90%;
    border-radius: 50%;
    border-top: .2rem solid #081b29;
    border-bottom: .2rem solid #081b29;
    border-left: .2rem solid #00abf0;
    border-right: .2rem solid #00abf0;
}

.about-content{
    text-align: center;
}
.about-content h3 {
    text-align: center;
    color: #00abf0;
    font-size: 2.5rem;
}
.about-content p {
    font-size: 1.6rem;
}

.btn-box.btns a {
    display: inline-block;
    width: 10rem;
    color: #ffffff;
    text-align: center;
    margin-top: 20px;
}

.btn-box.btns a::before{
    background: #00ff22;
}

/*----------------education-----------------*/
.education{
    background: #081b29;
}


/*-----------------------footer----------------------*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
  }
  
  .footer {
    position: relative;
    width: 100%;
    background: #3586ff;
    min-height: 100px;
    padding: 10px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  
  .social-icons,
  .menu {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px 0;
    flex-wrap: wrap;
  }
  
  .social-icon__item,
  .menu__item {
    list-style:none;
  }
  
  .social-icon__link {
    font-size: 2rem;
    color: #081b29;
    margin: 0 10px;
    display: inline-block;
    transition: 0.5s;
  }
  .social-icon__link:hover {
    transform: translateY(-10px);
    color: #00ff22;
  }
  
  .menu__link {
    font-size: 1.2rem;
    color: #ffffff;
    margin: 0 10px;
    display: inline-block;
    transition: 0.5s;
    text-decoration: none;
    opacity: 0.75;
    font-weight: 800;
  }
  
  .menu__link:hover {
    opacity: 1;
    color: #f09292;
  }
  
  .footer p {
    color: white;
    margin: 15px 0 10px 0;
    font-size: 1rem;
    font-weight: 300;
  }
  
  .wave {
    position: absolute;
    top: -100px;
    left: 0;
    width: 100%;
    height: 100px;
    background: url("https://i.ibb.co/wQZVxxk/wave.png");
    background-size: 1000px 100px;
  }
  
  .wave#wave1 {
    z-index: 1000;
    opacity: 1;
    bottom: 0;
    animation: animateWaves 5s linear infinite;
  }
  
  .wave#wave2 {
    z-index: 999;
    opacity: 0.5;
    bottom: 10px;
    animation: animate 4s linear infinite !important;
  }
  
  .wave#wave3 {
    z-index: 1000;
    opacity: 0.2;
    bottom: 15px;
    animation: animateWaves 3s linear infinite;
  }
  
  .wave#wave4 {
    z-index: 999;
    opacity: 0.7;
    bottom: 20px;
    animation: animate 3s linear infinite;
  }
  
  @keyframes animateWaves {
    0% {
      background-position-x: 1000px;
    }
    100% {
      background-positon-x: 0px;
    }
  }
  
  @keyframes animate {
    0% {
      background-position-x: -1000px;
    }
    100% {
      background-positon-x: 0px;
    }
  }
  